{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор!</h1>
  <p>
    Тут я размещу информацию о себе, используя свои умения верстать. 
  </p>
  <p>
    Ниже ссылка на мой аккаунт на GitHub:<br>
    <a href="https://github.com/VictorTsyganov"
    target="_blank">Виктор Цыганов на GitHub.</a>
  </p>
  <p>
    Идея заняться программироанием у меня появилась уже давно, 
    но ранее я не решался полностью посвятить себя обучению, т.к. на это не хватало времени.
    Позднее у меня был опыт совместной работы с программистами над доработкой нашей рабочей 
    программы. Я занимался оформлением задач на доработку и тестированием результатов.
    В тот период, как мне показалось, я смог разобраться в сути того, что нужно сделать
    для оптимизации работы программы, но у меня не было навыков (соответствующих инструментов),
    чтобы самостоятельно реализовать доработку. Во тогда я и пришел к выводу,
    что необходимо этому научиться.
  </p>
  <p>
    И вот я учусь. А ниже фото моего рабочего места.
  </p>
  {% load static %}
    <img src="{% static 'img/work_place.jpg' %}" width="800" height="500" class="d-inline-block align-top" alt="">
{% endblock %}