{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Текст страницы "Технологии"</p>
      <p>
        На данный момент я успел изучить основы python и django.
        знаний пока не много, но в целом у меня получилось сделать небольшую интернет-страничку.
        Я поработал с классами, моделями и приложениями. Разобрался с базовыми классами и моделями,
        которые уже подготовлены в django для последующей работы с ними.
        На данном этапе все изучено в общих чертах, но это отличная база для последующего
        углубленного изучения того, с чем в последствии предстоит работать плотнее.
      </p>
    </article>
  </div>
{% endblock %}